/*
!.gitignore
!starship.toml
!/fish/
!/nvim/
nvim/lua/plugins/example.lua
!/kitty/
!/lazygit/
!/godot
/godot/recent_dirs
/godot/feature_profiles
/godot/script_templates
!/nushell
/nushell/history.txt
